// COLORS

$clr-primary--300: #f26925;
$clr-primary--400: #f86e03;
$clr-primary--500: #f34335;
$clr-primary--600: #f44336;

$clr-secondary--100: #1e4ad1;
$clr-secondary--200: #163788;
$clr-secondary--300: #132744;
$clr-secondary--400: #142744;

$clr-light--200: #ffffff;

$clr-dark--400: #282828;
$clr-dark--800: #000000;


// END COLORS
