// *** COLORS ***


// primary
$clr-primary--300: #2e3192;
$clr-primary--400: #2c3691;
$clr-primary--600: #00235a;

// secondary
$clr-secondary--300: #e3000f;
$clr-secondary--400: #ed1c24;
$clr-secondary--600: #2e2e2e;

// light
$clr-light--100: #ffffff;
$clr-light--200: #f1f1f5;

// dark
$clr-dark--200: #c8c8c8;
$clr-dark--400: #868686;
$clr-dark--600: #7b8099;
$clr-dark--900: #000000;


// *** END COLORS ***
