.btn {
    font-family: $ft-primary;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    color: $clr-dark--800;
    background-color: $clr-dark--200;
    transition: color 500ms, background-color 500ms, border-color 500ms, transform 500ms, box-shadow 500ms;
    transition-timing-function: ease-in-out;
    @include size(max-767){
        padding: 0.4em 1em;
    }
    &:not(:only-child) {
        margin-bottom: 0.25em;
        margin-right: 0.25em;
    }

    &:active {
        outline: none;
        opacity: 0.925;
    }

    &:hover,
    &:focus {
        color: #333;
        background-color: #ddd;
    }
    &[disabled],
    &.disabled {
        filter: opacity(0.5);
        cursor: not-allowed;
        pointer-events: none;
    }

    &.btn_primary {
        background-color: $clr-primary--400;
        color: $clr-dark--100;
        &:hover,
        &:focus {
            background-color: $clr-primary--400--hover;
        }
    }

    &.btn_secondary {
        background-color: $clr-secondary--400;
        color: $clr-dark--100;
        &:hover,
        &:focus {
            background-color: $clr-secondary--400--hover;
        }
    }

    &.btn_primary_br{
        background-color: white;
        border: solid 1px $clr-primary--400;
        color: $clr-primary--400;
        @include hoverFocus{
            background-color: $clr-primary--400;
            color: $clr-dark--100;
        }
    }

    &.btn_readMore{
        padding: 0.25em;
        background-color: transparent;
        color: $clr-primary--400;
        @include hoverFocus{
            color: $clr-dark--900;
        }
    }

}

.slick .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    width: 100%;
    li {
        list-style: none;
        button {
            margin: 0 8px;
            padding: 0;
            display: block;
            border-radius: 50px;
            width: 11px;
            height: 11px;
            background-color: transparent;
            border: solid 2px #6f6d6d;
            font-size: 0px;
            cursor: pointer;
            outline: none;
            transition: box-shadow 400ms, background-color 400ms, border-color 400ms, transform 400ms;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: -6px;
                width: calc(100% + 12px);
                height: calc(100% + 12px);
                border-radius: 50px;
                border: solid 2px $clr-primary--400;
                transform: scale(0);
                transition: transform 400ms;
            }
            &:hover {
                transform: scale(1.25);
            }
        }
        &.slick-active {
            button {
                border-color: transparent;
                background-color: $clr-primary--400;
                // box-shadow: 0 0 0 1px #fff, 0 0 0 3px $clr-primary--400;
                &::before {
                    transform: none;
                }
            }
        }
    }
}
