// groupPeople_section
.groupPeople_section {
    .title {
        font-size: 3rem;
        font-weight: 500;
        small {
            font-size: 2.125rem;
        }
    }

    .groupPeople_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 1rem;
        li {
            border: solid 1px #676767;
            padding: 2rem;
            text-align: center;
            --img-size: 200px;
            .img_wrap {
                width: var(--img-size);
                height: var(--img-size);
                border-radius: var(--img-size);
                overflow: hidden;
                margin: auto;
                margin-bottom: 1.75rem;
            }
            .content_wrap {
                h3 {
                    font-size: 2.25rem;
                    font-weight: 500;
                    margin-bottom: 0.5rem;
                }
                .yt_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.75rem;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.6);
                    gap: 0.75rem;
                    img {
                        max-height: 25px;
                    }
                }
                .btn_wrap {
                    position: relative;
                    font-size: 1.75rem;
                    background-color: #d0d0d0;
                    padding: 0.5em 1em;
                    min-width: 250px;
                    text-align: center;
                    font-weight: 400;
                    color: #676767;
                    margin-top: 2.25rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    transition: background-color 400ms;
                    &::after {
                        content: "Select";
                        transition: all 400ms;
                    }
                    &::before {
                        content: "";
                        width: 1em;
                        height: 1em;
                        background-image: url(../../images/icons/check-icon.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 0.9em auto;
                        display: inline-block;
                        display: none;
                        transition: all 400ms;
                    }
                    &:hover {
                        background-color: #ccc;
                    }
                }
                [type="checkbox"] {
                    display: none;
                    &:checked ~ .btn_wrap {
                        background-color: #16935e;
                        color: white;
                        &::after {
                            content: "Selected";
                        }
                        &::before {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

// imgSlider_section
.imgSlider_section {
    .slick {
        .slick_item {
            padding: 0 1.75rem;
            img {
                width: 100%;
                max-height: 600px;
                object-fit: cover;
                display: block;
            }
        }
    }
}

// info_section
.info_section {
    .sc_title {
        h3 {
            font-weight: 600;
        }
        h4 {
            font-size: 2.625rem;
            color: #000;
            font-weight: 500;
        }
        &.sc_title2 {
            margin-top: 6rem;
            h3{
                font-weight: 500;
            }
            p{
                font-size: 1.75rem;
                font-weight: 500;
                color: rgba(31, 31, 31, 0.6);
            }
        }
    }
    .logo_list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        &.ul1{
            margin-top: 1rem;
        }
        &.ul3{
            max-width: 800px;
            margin: auto;
            margin-top: 2rem;
        }
        li {
            padding: 1rem;
            img {
                max-height: 120px;
                max-width: 400px;
            }
        }
    }
    .btn_wrap{
        text-align: center;
        margin-top: 4rem;
        .btn{
            display: inline-flex;
            align-items: center;
            max-height: 120px;
            max-width: 400px;
            width: 100%;
            justify-content: center;
            gap: 1rem;
            text-transform: unset;
            font-size: 2rem;
            font-weight: 500;
            img{
                max-height: 65px;
            }
        }
    }
    &.info_section_v2{
        .sc_title{
            p{
                font-size: 2.625rem;
                font-weight: 500;
                color: #1F1F1F;
                margin-bottom: 1rem;
            }
            h3{
                font-size: 4.5rem;
                font-weight: 700;
                color: #1F1F1F;
            }
        }
    }
}

// registerStep_section
.registerStep_section{
    .sc_title{
        margin-bottom: 3rem;
    }
    .row{
        align-items: center;
    }
    .col_content{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            counter-reset: item;
            li{
                display: flex;
                gap: 0.75em;
                color: #1F1F1F;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.25em;
                align-items: center;
                counter-increment: item;
                &::before{
                    content: counter(item);
                    width: 1.75em;
                    height: 1.75em;
                    border-radius: 2em;
                    background-color: #3B2E80;
                    font-size: 1em;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    width: calc(100% - 2em);
                }
            }
        }
    }
    .col_img{
        img{
            max-width: 450px;
            margin: auto;
        }
    }
    .col_btn{
        margin-top: 6rem;
        margin-bottom: 7rem;
        text-align: center;
        p{
            font-size: 2rem;
            font-weight: 500;
            color: #1F1F1F;
        }
        .btn{
            margin-top: 3rem;
            margin-bottom: 1.5rem;
            margin-right: auto;
            margin-left: auto;
            font-size: 2.5rem;
            text-transform: unset;
            font-weight: 500;
            max-width: 350px;
            display: block;
        }
        small{
            color: rgba(31, 31, 31, 0.6);
            font-size: 1.5rem;
            display: block;
        }
    }
    .col_info{
        text-align: center;
        h5{
            font-size: 3rem;
            font-weight: 400;
            color: #1F1F1F;
            margin-bottom: 2rem;
        }
        h4{
            font-size: 4rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
            > small{
                display: block;
                font-size: 3rem;
                color: #1F1F1F;
            }
        }
        small{
            font-size: 2.5rem;
            color: rgba(31, 31, 31, 0.6);
            font-weight: 500;
            display: block;
            margin-bottom: 1.5rem;
        }
        h3{
            font-size: 3.875rem;
            font-weight: 700;
            color: #1F1F1F;
        }
    }
}

// NSE_form_section
.NSE_form_section{
    img{
        width: 100%;
    }   
}

// copyright_section
.copyright_section{
    background-color: #131313;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}