// *** COLORS ***


// primary
$clr-primary--300: #3562D6;
$clr-primary--400: #3562D6;

// secondary
$clr-secondary--400: #121212;
$clr-secondary--600: #2e2e2e;

// light
$clr-light--100: #ffffff;
$clr-light--200: #f1f1f5;

// dark
$clr-dark--200: #c8c8c8;
$clr-dark--400: #868686;
$clr-dark--600: #7b8099;
$clr-dark--900: #000000;


// *** END COLORS ***
