* {
    box-sizing: border-box;
    &::after,
    &::before {
        box-sizing: border-box;
    }
    &::selection {
        background: $clr-primary--400;
        color: white;
    }
}

html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: auto;
    font-size: 16px;
    body {
        font-size: 1rem;
        color: #1F1F1F;
        font-family: "GTWalsheimPro", sans-serif;
        font-weight: normal;
        background-color: white;
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
        min-width: 360px;
        line-height: normal;
        .scroll_off{
            overflow: hidden !important;
        }
        .body_wrap {
            width: 100%;
            overflow: hidden;
            overflow-x: hidden;
        }
        @at-root {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0.5em;
                line-height: normal;
                font-weight: bold;
                color: #000;
            }
        }
    }
}
