@mixin size($point) {
    @if $point == max-1800 {
        @media (min-width: 1800px) {
            @content;
        }
    } @else if $point == max-1560 {
        @media (max-width: 1560px) {
            @content;
        }
    } @else if $point == max-1366 {
        @media (max-width: 1366px) {
            @content;
        }
    } @else if $point == max-1260 {
        @media (max-width: 1260px) {
            @content;
        }
    } @else if $point == max-1200 {
        @media (max-width: 1200px) {
            @content;
        }
    } @else if $point == max-991 {
        @media (max-width: 991px) {
            @content;
        }
    } @else if $point == max-767 {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == max-540 {
        @media (max-width: 539px) {
            @content;
        }
    } @else if $point == max-380 {
        @media (max-width: 380px) {
            @content;
        }
    } @else if $point == min-767 {
        @media (min-width: 767px) {
            @content;
        }
    } @else if $point == min-1280 {
        @media (min-width: 1280px) {
            @content;
        }
    } @else if $point == min-1366 {
        @media (min-width: 1366px) {
            @content;
        }
    } @else if $point == min-1560 {
        @media (min-width: 1560px) {
            @content;
        }
    }
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}


@keyframes fadeInFor {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInForUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInForDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInForRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInForLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

// *** Demo *** //

// @for $i from 1 through 10 {
//     &:nth-child(#{$i}) {
//         animation-name: fadeInFor;
//         animation-duration: 400ms + 100ms * $i;
//     }
// }



