.flicker {
  animation: flicker 5s infinite;
}
.flicker span:first-child {
  animation: blink-sub 2s infinite
}
.flicker span:nth-child(2) {
  animation: blink-sub 1s infinite;
  animation-delay: .5s;
}
.flicker span:last-child {
  animation: blink-sub 1s infinite
}
.blink-arrow {
  animation: blink-arrow linear .8s 3 forwards;
  animation-delay: .5s;
}
.neon-purple {
  animation: shine 1s infinite, flicker 3s infinite, blink 2s infinite;
}
.neon-blue {
  animation: shine-blue 1s infinite, flicker 3s infinite, blink-blue 5s infinite;
}
.on-off {
  animation: on-off 1.5s infinite;
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 1.3s;
}
@keyframes on-off {
    50% {
        opacity: .5;
    }
}
@keyframes blink {
    0%,
    22%,
    36%,
    75% {
      text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.53), 0px 0px 42px #FF1F94, 0px 0px 15px rgba(255, 31, 148, 0.80), 0px 0px 4px #FF1F94;
    }
    28%,
    33% {
        text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.50), 0px 0px 24px rgba(255, 31, 147, 0.643), 0px 0px 12px rgba(255, 31, 148, 0.50), 0px 0px 2px rgba(255, 31, 147, 0.63);
    }
    82%,
    97% {
        text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.50), 0px 0px 24px rgba(255, 31, 147, 0.643), 0px 0px 12px rgba(255, 31, 148, 0.50), 0px 0px 2px rgba(255, 31, 147, 0.63);
    }
}
@keyframes blink-blue {
    0%,
    22%,
    36%,
    75% {
      text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.23), 0px 0px 62px #16F1FF, 0px 0px 35px rgba(22, 241, 255, 0.80), 0px 0px 24px #16F1FF;
    }
    28%,
    33% {
      text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.50), 0px 0px 24px rgba(22, 241, 255, 0.643), 0px 0px 12px rgba(22, 241, 255, 0.50), 0px 0px 2px rgba(22, 241, 255, 0.63);
    }
    82%,
    97% {
      text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.50), 0px 0px 24px rgba(22, 241, 255, 0.643), 0px 0px 12px rgba(22, 241, 255, 0.50), 0px 0px 2px rgba(22, 241, 255, 0.63);
    }
}
@keyframes shine {
    50% {
        text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.23), 0px 0px 62px #FF1F94, 0px 0px 35px rgba(255, 31, 148, 0.80), 0px 0px 24px #ff1f937e;   
    }
}
@keyframes shine-blue {
    50% {
        text-shadow: 0px 4px 7px rgba(16, 17, 17, 0.23), 0px 0px 62px #16F1FF, 0px 0px 35px rgba(22, 241, 255, 0.80), 0px 0px 24px #16F1FF;
    }
}
@keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes blink-sub {
    0%,
    22%,
    36%,
    75% {
      text-shadow: 0px 0px 42px #FFCA0E, 0px 0px 15px rgba(255, 202, 14, 0.80), 0px 0px 4px #FFCA0E;
    }
    28%,
    33% {
        text-shadow: none;
    }
    82%,
    97% {
        text-shadow: none;
    }
}
@keyframes rotating {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes blink-arrow {
  50% {
    opacity: 0;
  }
}