* {
    box-sizing: border-box;
    &::after,
    &::before {
        box-sizing: border-box;
    }
    &::selection {
        background: $clr-primary--400;
        color: white;
    }
}

html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: auto;
    body {
        margin: 0px;
        padding: 0px;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        font-size: 1rem;
        background-color: white;
        color: #333;
        width: 100%;
        overflow-x: hidden;
        min-width: 360px;
        line-height: normal;
        .body_wrap {
            width: 100%;
            overflow: hidden;
            overflow-x: hidden;
        }

        strong,
        h1,
        h2 {
            line-height: normal;
            font-weight: bold;
            color: #000;
        }

        h3,
        h4,
        h5,
        h6 {
            line-height: normal;
            font-weight: bold;
            color: #2222;
        }
    }
}
