* {
    box-sizing: border-box;
    word-break: break-word;
    &::after,
    &::before {
        box-sizing: border-box;
    }
    &::selection {
        background: $clr-primary--400;
        color: $clr-dark--100;
    }
}

html {
    padding: 0px;
    margin: 0px;
    color-scheme: light;
    scroll-behavior: auto;
    font-size: 16px;
    body {
        font-family: $ft-primary;
        font-size: 0.875rem;
        font-weight: normal;
        line-height: normal;
        color: $clr-dark--900;
        background-color: $clr-dark--100;
        margin: 0px;
        padding: 0px;
        width: 100%;
        min-width: 320px;
        overflow-x: hidden;
        touch-action: manipulation;
        &.scroll_off {
            overflow: hidden !important;
        }

        .main_screen {
            width: 100%;
            min-height: 100dvh;
            max-width: 540px;
            margin: auto;
            position: relative;
            overflow: hidden;
            background-color: $clr-dark--100;
        }

        @at-root {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $clr-dark--900;
            }
            a {
                display: inline-block;
                color: $clr-primary--400;
                transition: color 500ms;
                &:hover,
                &:focus {
                    color: $clr-secondary--400;
                }
            }
        }
    }
}