.header_fixed {
    padding-top: 85px !important;
    @include size(max-1200) {
        padding-top: 70px !important;
    }
    @include size(max-991) {
        padding-top: 60px !important;
    }
}
.header {
    background-color: $clr-primary--400;
    box-shadow: 0 4px 18px -2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 85px;
    transition: height 400ms;
    &.fixed {
        height: 70px;
    }
    @include size(max-1200) {
        height: 75px;
        &.fixed {
            height: 60px;
        }
    }
    @include size(max-991) {
        height: 60px;
        &.fixed {
            height: 50px;
        }
    }

    .container {
        height: 100%;
    }
    .row {
        height: 100%;
        align-items: center;
        .col_logo {
            display: flex;
            align-items: center;
            @include size(max-991) {
                width: 50%;
            }
            .logo_wrap {
                text-decoration: none;
                display: inline-block;
                img {
                    display: block;
                    @include size(max-1200) {
                        max-width: 200px;
                    }
                    @include size(max-991) {
                        max-height: 35px;
                    }
                }
            }
        }
        .col_nav {
            @include size(max-991) {
                width: 50%;
            }
            .nav_toggle_wrap {
                -webkit-tap-highlight-color: transparent;
                text-decoration: none;
                display: none;
                padding: 0;
                width: 36px;
                height: 36px;
                margin-left: auto;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.1);
                border: none;
                border-radius: 3px;
                @include size(max-991) {
                    display: block;
                }
                svg {
                    transform: scale(2);
                }
                path {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    --length: 24;
                    --offset: -38;
                    stroke-dasharray: var(--length) var(--total-length);
                    stroke-dashoffset: var(--offset);
                    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                }
                circle {
                    fill: transparent;
                }
                .open svg {
                    .line--1,
                    .line--3 {
                        --length: 22.627416998;
                    }
                    .line--2 {
                        --length: 0;
                    }
                }
                .menu--1 {
                    .line--1,
                    .line--3 {
                        --total-length: 126.64183044433594;
                    }
                    .line--2 {
                        --total-length: 70;
                    }
                    &.open svg {
                        .line--1,
                        .line--3 {
                            --offset: -94.1149185097;
                        }
                        .line--2 {
                            --offset: -50;
                        }
                    }
                }
            }
            nav {
                @include size(max-991) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 90%;
                    background-color: $clr-secondary--400;
                    background-color: #f2f5fc;
                    padding: 1rem 1rem;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    box-shadow: 0 6px 22px -4px rgba(0, 0, 0, 0.3);
                }
                @include size(max-767) {
                    width: 100%;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    @include size(max-991) {
                        flex-direction: column;
                    }
                    li {
                        margin: 0 0.25rem;
                        @include size(max-991) {
                            margin: 0.75rem 0;
                        }
                        .link {
                            font-size: 1rem;
                            text-decoration: none;
                            color: white;
                            padding: 0.35em 1em;
                            border-radius: 50px;
                            transition: background-color 400ms, color 400ms;
                            @include size(max-991) {
                                font-size: 1.125rem;
                                color: #000;
                            }
                            &:hover,
                            &:focus {
                                background-color: rgba(255, 255, 255, 0.1);
                            }
                            &.active {
                                font-weight: 500;
                                background-color: white;
                                color: $clr-primary--400;
                            }
                        }
                    }
                }
            }
        }
    }
}
