.header_fixed{
    padding-top: 85px !important;
}
.header{
    background-color: $clr-primary--400;
    box-shadow: 0 4px 22px -2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 85px;
    transition: height 400ms;
    &.fixed{
        height: 70px;
    }
    .container{
        height: 100%;
    }
    .row{
        height: 100%;
        align-items: center;
        .col_logo{
            .logo_wrap{
                text-decoration: none;
                display: inline-block;
                img{
                    display: block;
                }
            }
        }
        .col_nav{
            nav{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    li{
                        margin: 0 0.25rem;
                        .link{
                            font-size: 1rem;
                            text-decoration: none;
                            color: white;
                            padding: 0.35em 1em;
                            border-radius: 50px;
                            transition: background-color 400ms, color 400ms;
                            &:hover,
                            &:focus{
                                background-color: rgba(255, 255, 255, 0.1);
                            }
                            &.active{
                                font-weight: 500;
                                background-color: white;
                                color: $clr-primary--400;
                            }
                        }
                    }
                }
            }
        }
    }
}