@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol[class],
ul[class] li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5em;
}

img,
svg,
video,
.img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (max-width: 767px) {
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.pt-auto {
  padding-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.py-unset {
  padding-top: unset;
  padding-bottom: unset;
}

.pt-unset {
  padding-top: unset;
}

.pb-unset {
  padding-bottom: unset;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.container,
.container_sm,
.container-lg {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.container_sm {
  max-width: 1024px;
}

@media (min-width: 576px) {
  .container,
  .container_sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container_sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container_sm {
    max-width: 960px;
  }
}
@media (min-width: 1024px) {
  .container,
  .container_sm {
    max-width: 1000px;
  }
}
@media (min-width: 1201px) {
  .container {
    max-width: 1220px;
  }
  .container_sm {
    max-width: 1120px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1300px;
  }
  .container_sm {
    max-width: 1200px;
  }
}
@media (min-width: 1561px) {
  .container {
    max-width: 1500px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1730px;
  }
}
/* Lato */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-word;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::-moz-selection {
  background: #5353f5;
  color: white;
}
*::selection {
  background: #5353f5;
  color: white;
}

html {
  padding: 0px;
  margin: 0px;
  color-scheme: light dark;
  scroll-behavior: auto;
  font-size: 16px;
}
@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}
html body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  color: #868686;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
html body .scroll_off {
  overflow: hidden !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #111111;
}

.btn {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  color: #333;
  background-color: #efefef;
  -webkit-transition: background-color 400ms, color 400ms, border-color 400ms, -webkit-transform 400ms;
  transition: background-color 400ms, color 400ms, border-color 400ms, -webkit-transform 400ms;
  transition: background-color 400ms, color 400ms, border-color 400ms, transform 400ms;
  transition: background-color 400ms, color 400ms, border-color 400ms, transform 400ms, -webkit-transform 400ms;
}
.btn:not(:only-child) {
  margin-bottom: 0.25em;
  margin-right: 0.25em;
}
.btn:active {
  outline: none;
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}
.btn:hover, .btn:focus {
  color: #333;
  background-color: #ddd;
}
.btn[disabled], .btn.disabled {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  cursor: not-allowed;
  pointer-events: none;
}
.btn.btn_primary {
  background-color: #5353f5;
  color: white;
}
.btn.btn_primary:hover, .btn.btn_primary:focus {
  background-color: #2c2cf3;
}
.btn.btn_secondary {
  background-color: #38cca1;
  color: white;
}
.btn.btn_secondary:hover, .btn.btn_secondary:focus {
  background-color: #2dae89;
}

.input_group {
  margin-bottom: 1.25rem;
}
@media (max-width: 767px) {
  .input_group {
    margin-bottom: 1rem;
  }
}
.input_group.mb-0 {
  margin-bottom: 0;
}
.input_group label {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5em;
}
.input_group .input {
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.6em 0.75em;
  border-radius: 0.25em;
  outline: none;
  resize: none;
  background-color: white;
  border: solid 1px #e7e7e7;
  color: #222;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}
.input_group .input.appearance_none::-webkit-inner-spin-button, .input_group .input.appearance_none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.input_group .input:focus {
  -webkit-box-shadow: 0 0 0px 2px rgba(83, 83, 245, 0.75);
          box-shadow: 0 0 0px 2px rgba(83, 83, 245, 0.75);
}
.input_group .input_select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237E8299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 0.75em);
  background-size: 0.75em;
  color: #222;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: calc(1em + 15px);
}
.input_group .checkbox_warp {
  font-size: 1rem;
  display: inline-block !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.input_group .checkbox_warp .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
}
.input_group .checkbox_warp a {
  color: #222;
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}
.input_group .checkbox_warp a:hover {
  color: #222;
}
.input_group .radio_warp {
  display: inline-block !important;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-right: 0.5rem;
}
.input_group .radio_warp:last-child {
  margin-right: 0;
}
.input_group .radio_warp .radio {
  margin-top: 0;
  margin-bottom: 0;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
}
.input_group .radio_warp span {
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */