.links_sct {
    background-color: #ffeded;
    .mt-1 {
        margin-top: 1.5rem;
    }
    .slick-track {
        display: flex;
        .slick-slide {
            height: auto;
            >div {
                height: 50%;
            }
        }
    }

    [class*="col-"] {
        padding: 10px;
        height: 100%;
        .col_wrap {
            padding: 1.25rem;
            background-color: white;
            box-shadow: 0px 2px 1rem 0px rgba(0, 0, 0, .05);
            border-radius: 5px;
            color: $clr-dark--800;
            display: flex;
            height: 100%;
            flex-direction: column;
            text-decoration: none;
            transition: box-shadow 500ms;
            position: relative;
            &::before {
                --size: 100%;
                content: '';
                position: absolute;
                inset: 0;
                width: var(--size);
                height: var(--size);
                border: solid 2px $clr-primary--400;
                border-radius: 5px;
                opacity: 0;
                pointer-events: none;
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            }
            @include hoverFocus {
                box-shadow: 0px 2px 2rem 2px rgba(0, 0, 0, .1);
                &::before {
                    --size: calc(100% + 16px);
                    opacity: 0.5;
                    inset: -8px;
                }
            }
            .comingSoon {
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                background-color: rgba($clr-primary--400, 0.5);
                padding: 0.25em 0.5em;
                font-size: 0.875rem;
                color: white;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 5px;
                animation: bgChange 3s linear infinite;
                @keyframes bgChange {
                    0%,
                    100% {
                        background-color: rgba($clr-primary--400, 0.5);
                    }
                    50% {
                        background-color: rgba($clr-primary--400, 0.3);
                    }
                }
            }
            .icon {
                --size: 50px;
                height: var(--size);
                margin-bottom: 0.5rem;
                @include size(max-1560) {
                    --size: 45px;
                }
                @include size(max-1200){
                    --size: 40px;
                }
                img {
                    max-height: var(--size);
                    max-width: var(--size);
                }
            }
            .content {
                flex-shrink: 1;
                h3 {
                    font-size: 1.5rem;
                    color: $clr-primary--400;
                    font-weight: 500;
                    margin-bottom: 0.25em;
                    text-transform: capitalize;
                    @include size(max-1560) {
                        font-size: 1.325rem;
                    }
                    @include size(max-1200){
                        font-size: 1.25rem;
                    }
                }
                p {
                    font-size: 1.125rem;
                    @include size(max-1560) {
                        font-size: 1rem;
                    }
                    @include size(max-1200){
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

// newsBlog_sct
.newsBlog_sct {
    .col_row{
        [class*="col-"] {
            .col_wrap{
                flex-direction: row;
                .content{
                    padding: 1.5rem;
                }
                @include size(max-767){
                    flex-direction: column;
                }
            }
        }
    }
    [class*="col-"] {
        height: auto;
        padding: 1rem;
        .col_wrap {
            height: 100%;
            background-color: white;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
            @include hoverFocus {
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
                img {
                    filter: brightness(0.75);
                }
            }
            img {
                display: block;
                height: 200px;
                width: 100%;
                object-fit: cover;
                border-radius: 6px;
                overflow: hidden;
                transition: filter 500ms;
                @include size(max-1200){
                    height: 180px;
                }
            }
            .content {
                padding: 1rem 1.25rem;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                border-radius: 6px;
                line-height: 1.3;
                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: $clr-dark--900;
                    margin-bottom: 0.4em;
                    @include size(max-1200){
                        font-size: 1.125rem;
                    }
                }
                .btn_wrap {
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-end;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

// video_sct
.video_sct {
    background-color: #f5f5f5;
    [class*="col-"] {
        padding: 1rem;
        height: auto;
        .col_wrap {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
            h3 {
                flex-grow: 1;
                margin: 0;
                font-size: 1.5rem;
                text-align: center;
                font-weight: 600;
                padding: 0.5em;
                @include size(max-1200){
                    font-size: 1.25rem;
                }
            }
        }
    }
}

// joinUs_sct
.joinUs_sct{
    background-color: #FFFCEE;
    .mt-2{
        margin-top: 3rem;
    }
    .col_img, .col_form{
        padding: 1rem;
    }
    .col_img{
        img{
            @include size(max-991){
                max-width: 400px;
                margin: auto;
            }
            @include size(max-767){
                max-width: 100%;
            }
        }
    }
    .col_form{
        .row{
            margin-top: 1.5rem;
        }
        h3{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            text-transform: capitalize;
            @include size(max-1200){
                font-size: 1.25rem;
            }
            &::after{
                content: '';
                display: block;
                width: 2.5em;
                height: 3px;
                background-color: rgba($clr-primary--400, 0.7);
                margin-top: 0.25em;
            }
            small{
                font-size: 0.75em;
                display: block;
                color: $clr-primary--400;
                font-weight: 500;
            }
        }
        .btn{
            padding-inline: 1.75em;
        }
    }
}