.footer {
    background-color: #060606;
    padding-top: 4rem;
    color: #ddd;
    @include size(max-767){
        padding-top: 3rem;
        [class*="col-"]:not(:first-child, :last-child, :nth-child(2)){
            width: 50%;
        }

    }
    [class*="col-"]:not(:first-child, :last-child){
        margin-bottom: 1.5rem;
    }
    .logo_wrap {
        display: inline-block;
        margin-bottom: 1rem;
        img {
            height: 60px;
            filter: brightness(0) invert(1);
            @include size(max-1560){
                height: 50px;
            }
            @include size(max-1200){
                height: 45px;
            }
        }
    }
    .ft_title {
        font-size: 1.25rem;
        color: white;
        font-weight: 600;
        margin-bottom: 0.75em;
        @include size(max-1200){
            font-size: 1.125rem;
        }
        &::after {
            content: '';
            display: block;
            width: 36px;
            height: 2px;
            margin-top: 0.2em;
            background-color: rgba($clr-primary--400, 0.75);
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0.6rem 0;
            a {
                text-decoration: none;
                color: #ddd;
                font-size: 1rem;
                font-weight: 400;
                @include hoverFocus {
                    color: $clr-primary--400;
                }
            }
            strong {
                display: block;
                color: #fff;
                font-weight: 600;
            }
        }
    }
    .cpyRight{
        border-top: solid 1px #333;
        margin-top: 2rem;
        text-align: center;
        @include size(max-991){
            margin-top: 1rem;
        }
        p{
            padding: 1rem 0;
            margin: 0;
        }
    }
}