.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #efefef;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.65em 2em;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    transition: background-color 400ms, color 400ms, border-color 400ms, transform 400ms;
    @include size(max-1560) {
        // font-size: 1.25rem;
    }
    @include size(max-991) {
        font-size: 1.25rem;
    }
    @include size(max-767) {
        font-size: 1.125rem;
    }
    &:last-child{
        margin-right: 0;
    }
    &:only-child{
        margin-bottom: 0;
        margin-right: 0;
    }
    &:active {
        transform: scale(0.95);
    }
    &:hover,
    &:focus {
        color: #333;
        background-color: #ddd;
    }
    &[disabled],
    &.disabled{
        filter: opacity(0.5);
        cursor: not-allowed;
        pointer-events: none;
    }

    &.btn_primary{
        background-color: $clr-primary--400;
        color: white;
        &:hover,
        &:focus{
            background-color: $clr-secondary--400;
        }
    }

    &.btn_secondary{
        background-color: $clr-secondary--400;
        border-color: $clr-secondary--400;
        color: white;
        &:hover,
        &:focus{
            background-color: $clr-primary--400;
            border-color: $clr-primary--400;
        }
    }
}
