.sc_title {
    margin-bottom: 2rem;
    h3 {
        font-size: 3.25rem;
        font-weight: 500;
        color: #1f1f1f;
        margin-bottom: 0.25em;
    }
    h4{
        font-size: 3rem;
        font-weight: 500;
        color: rgba(31, 31, 31, 0.8);
    }
}
