/* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');
.firaSans_font {
    font-family: 'Fira Sans', sans-serif;
}

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.Poppins_font {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: "impact";
    src: url('../fonts/Impact.eot');
    src:url('../fonts/Impact.eot?') format('embedded-opentype') 
        url('../fonts/Impact.woff2') format('woff2'),
        url('../fonts/Impact.woff') format('woff'),
        url('../fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
