* {
    box-sizing: border-box;
    line-height: 1.4em;
    &::after,
    &::before {
        box-sizing: border-box;
    }
    &::selection {
        background: $clr-primary--400;
        color: white;
    }
}

html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: auto;
    body {
        font-size: 1rem;
        color: #000;
        font-family: "GTWalsheimPro", sans-serif;
        font-weight: normal;
        background-color: #F2F5FC;
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
        min-width: 360px;
        
       
        @at-root {
            h1,
            h2 {
                margin-bottom: 0.5rem;
                line-height: normal;
                font-weight: bold;
            }

            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0.5rem;
                line-height: normal;
                font-weight: bold;
            }
        }
    }
}


.card_wrap{
    background-color: white;
    border-radius: 12px;
    padding: 1.75rem;
}